<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @character.color %>
</p>

<p>
  <strong>Descriptor:</strong>
  <%= @character.descriptor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Appendage:</strong>
  <%= @character.appendage %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
